<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <services>
      <register serviceType="Sitecore.Commerce.XA.Foundation.Common.UrlManager.IStorefrontUrlManager, Sitecore.Commerce.XA.Foundation.Common">
        <patch:attribute name="implementationType">Sitecore.Support.Commerce.XA.Foundation.Common.UrlManager.StorefrontUrlManager, Sitecore.Support.36773</patch:attribute>
      </register>
    </services>
  </sitecore>
</configuration>